.about {
  width: 550px;
  position: absolute;
  top: 15%;
  right: 5%;
  color: white;
  font-size: 14px;
}

.about h2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
    .about {
      width: 260px;
      top: 55%;
      left: 15%;
    }
}